.search-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

  }
  
  .input-container {
    position: relative;
    width: 100%;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px 40px 10px 10px; 
    outline: none;

    border-radius: 20px;
    
    border: 0.5px solid #5D5D5D
  }



  .input-container input::placeholder{
    text-align: center;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    background-color: red;
    font-size: 1.2em; 
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
      }
  


  .input-container  input::placeholder{
    color: #B7B7B7;
  }